.header__lang-link {
  max-width: 30px;
  font-size: 24px;
  line-height: 1.17;
  color: #828282;

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: color .2s, background-size .3s;
}

.header__lang-link:last-of-type {
  text-decoration: none;
  margin: 0;
}

.header__lang-link:hover {
  color: #070707;
  background-size: 100% 2px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    max-width: 22px;
    font-size: 18px;
    line-height: 1.33;
  }
}
