.place__title {
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  margin: 0;
  transition-duration: 0.2s;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}
