.header {
  height: 100vh;
  width: 100%;
  background: center url("https://static.tildacdn.com/lib/unsplash/f952d2ea-8324-fcf2-639d-840b9e2184a9/photo.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0 auto;
  transition-duration: 0.2s;
}
