.place__down {
  display: flex;
  justify-content: space-between;
  transition-duration: 0.2s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__down {
    justify-content: start;
    flex-direction: column;
  }
}
