.place__up {
  display: flex;
  align-items: flex-end;
  margin-bottom: 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__up {
    flex-direction: column;
    margin-bottom: 32px;
  }
}
