.header__subtitle {
  font-size: 70px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  transition-duration: 0.2s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-links {
    margin-top: 30px;
  }
}
