.lead__subtitle {
  max-width: 7200px;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  margin: 0 auto 64px;
  transition-duration: 0.2s;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto 40px;
  }
}
