.footer__content {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__content {
    max-width: 186px;
    flex-direction: column;
    justify-content: start;
  }
}
