.place__website {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding-left: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__website {
    padding-left: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    padding-left: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__website {
    display: none;
  }
}
